.categories {
  ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    li {
      font-size: 18px;
      font-weight: 500;
      border: 1px solid #000;
      border-radius: 18px;
      padding: 10px 25px;
      cursor: pointer;

      &:hover {
        color: #000;
        background-color: darken(#ababab, 2%);
      }

      &:active {
        background-color: darken(#3d3d3d, 5%);
      }

      &.active {
        color: #f9f9f9;
        background-color: #000;
      }
    }
  }
}
