.container-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	margin: 20px auto;
	width: 100%;
}

.container-clothers {
	width: 100%;
	padding: 0px 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 20px;
}