.header {
  max-width: 1440px;
  margin: 30px auto;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
  }

  &__logo-text {
    margin: auto auto;
    h2 {
      font-size: 18px;
    }
    h2:hover {
      color: #7221eb;
      transition: all 0.2s ease-in;
    }
  }

  &__cart-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      font-size: 18px;
    }
    img {
      margin-left: 10px;
    }
  }
  &__container-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    &__cart-icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 3px 15px;
      gap: 5px;
      &:hover {
        background-color: #a4a3a7;
        color: #fff;
      }
    }
    &__profile-icon {
      display: flex;
      align-items: center;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 3px 15px;
      gap: 5px;
      &:hover {
        background-color: #a4a3a7;
        color: #fff;
      }
    }
  }
}
