.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 10px;
  width: 270px;
  height: 40px;
  padding: 0px 10px;
  position: relative;
  &__input {
    position: absolute;
    left: 50px;
  }
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__iconSearch {
    opacity: 0.5;
  }

  &__input {
    font-size: 18px;
  }

  &__iconClear {
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
