.sort {
  position: relative;
  &__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    P {
      font-size: 18px;
    }
    span {
      font-size: 18px;
      text-decoration: underline;
      color: #7221eb;
    }
  }
  &__popup {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #d7caeb;
    padding: 20px 0;
    padding-left: 20px;
    width: 100%;
    
    li {
      font-size: 20px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &:active {
        color: #7221eb;
      }
    }
  }
}
